<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Anime Quotes</title>
    <link rel="stylesheet" href="styles.css" />
</head>
<body>
    <div class="top-section2">
        <h1><span class="anime">Anime</span> Quotes</h1>
    <p>A free restful API serving quality anime quotes</p>
        <p>An <a href="https://animechan.xyz/">API</a> for anime lovers</p></div>
        <div class="layout">
   
        <div class="form">

    <p class="direction"><a href="/">Click to move to Jokes Page =></a></p>
    <p class="direction"><a href="./Quotes">Click to move to Quotes Page =></a></p>
    <p class="direction"><a href="./program">Click to Jump to Programming Quotes  =></a></p>
        </div >
    <div class="joke">
       
    
        <div>
            <div class="block">
        <h2>Anime Quote</h2>
        <h3>&euro; <span class="head">Anime-</span> <span class="char"><%=  anime %></span>  ||||| </h3>  <h3>   <span class="head">Character-</span> <span class="char"><%=  character %></span></h3>
       
        <p>&cent;&gt; <%=  quote %></p>  </div> 
       
             
         </p>
        </div>
    </div>
    </div>
    
</body>
</html>