<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Programming Quotes</title>
    <link rel="stylesheet" href="styles.css" />
</head>
<body>
    <div class="top-section3">
        <h1><span class="programming">Programming</span> Quotes</h1>
    <p>A free restful API serving quality programming quotes by programmers</p>
        <p>An <a href="https://programming-quotesapi.vercel.app/">API</a> for Programmer. A custom mixture of Logic + perspective + intelligence.</p>
    l</div>
        <div class="layout">
   
        <div class="form">

    <p class="direction"><a href="/">Jokes Page =></a></p>
    <p class="direction"><a href="./Quotes">Hindi Quotes Page =></a></p>
    <p class="direction"><a href="./Anime">Anime Quotes  =></a></p>
        </div >
    <div class="joke">
       
    
        <div>
            <div class="block">
        <h2>Programming Quote</h2>
        <h3>&euro; <span class="head2">Author-</span> <span class="char2"><%=  author %></span>  </h3>
       
        <p>&cent;&gt; <%=  quote %></p>  </div> 
       
             
         </p>
        </div>
    </div>
    </div>
    
</body>
</html>